{% extends 'layouts/base.html' %}
{% block content %}
{% load static %}
            <div class="questions col">
                <div class="questions-headline d-flex">
                    <a class="new-questions" href="{% url 'index' %}" style="font-size: 20px;">New Questions</a>
                    <div class="hot-questions" style="font-size: 28px;">Hot Questions</div>
                </div>
                {% for question in questions %}
                {% include 'components/question-item.html' %}
                {% endfor %}
                {% include 'components/paginator.html' %}
          </nav>
                </div>
                {% endblock %}
           
           