{% extends 'layouts/base.html' %}
{% block content %}
{% load static %}
            <div class="questions col">
                <div class="questions-headline d-flex">
                    <div class="new-questions" style="font-size: 28px;">New Questions</div>
                    <a class="hot-questions" href="{% url 'hotquestions' %}" style="font-size: 20px;">Hot Questions</a>
                </div>
                {% for question in questions %}
                {% include 'components/question-item.html' %}
                {% endfor %}
                {% include 'components/paginator.html' %}
                </div>
                {% endblock %}
           