{% extends 'layouts/logout.html' %}
{% block content %}
{% load static %}
            <div class="login-form col">
                <form>
                    <h5 class="login-main" id="headline">Registration</h5>
                    <div class="wrong-password">Sorry, this email adress already registered!</div>
                    <div class="login">
                      <label class="form-label">Login</label>
                      <input class="form-control">
                    </div>
                    <div class="email">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1">
                      </div>
                      <div class="nickname">
                        <label class="form-label">Nickname</label>
                        <input class="form-control">
                      </div>
                    <div class="password">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="repeat-password">
                        <label for="exampleInputPassword1" class="form-label">Repeat password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                      </div>
                      <div class="choose-upload-avatar d-flex">
                      <div class="upload-avatar">
                        <label class="form-label">Upload avatar</label>
                        <input type="file">
                      </div>
                    </div>
                    <button type="submit" class="login-button submit btn btn-primary">Register!</button>
                  </form>
                </div>
                {% endblock %}