{% extends 'layouts/base.html' %}
{% block content %}
{% load static %}
            <div class="questions col">
                <div class="questions-headline d-flex">
                    <div class="tag-search" style="font-size: 28px;">Tag: bender</div>
                </div>
                {% for question in questions %}
                {% include 'components/question-item.html' %}
                {% endfor %}
                <div class="search-buttons">
                  <nav aria-label="Page navigation example">
                      <ul class="pagination">
                          {% if questions.has_previous %}
                              <li class="page-item">
                                  <a class="page-link" href="?page=1" aria-label="First">
                                      <span aria-hidden="true">&laquo;</span>
                                  </a>
                              </li>
                          {% endif %}
              
                          {% for i in questions.paginator.page_range %}
                              <li class="page-item {% if i == questions.number %}active{% endif %}">
                                  <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                              </li>
                          {% endfor %}
              
                          {% if questions.has_next %}
                              <li class="page-item">
                                  <a class="page-link" href="?page={{ questions.next_page_number }}" aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                  </a>
                              </li>
                          {% endif %}
                      </ul>
                  </nav>
              </div>
          </nav>
                </div>
                {% endblock %}
           