{% load static %}
<div class="question-card card bg-dark-subtle" style="width: 50rem;">
    <div class="card-body">
        <div class="avatar-likes">
            <div class="question-avatar"><img src="{% static 'img/кот.jpg' %}"></div>
        <button type="button" class="likes-button btn">
            <div class="likes d-flex">
            <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
              </svg>
              <p>5</p>
            </div>
        </button>
        <button type="button" class="dislikes-button btn">
            <div class="dislikes d-flex">
            <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heartbreak-fill" viewBox="0 0 16 16">
                <path d="M8.931.586 7 3l1.5 4-2 3L8 15C22.534 5.396 13.757-2.21 8.931.586ZM7.358.77 5.5 3 7 7l-1.5 3 1.815 4.537C-6.533 4.96 2.685-2.467 7.358.77Z"/>
              </svg>
              <p>5</p>
            </div>
        </button>
        </div>
        <div class="card-description">
      <h5 class="card-title"> <a href="{% url 'question' question_id=question.id %}">{{ question.title }} </a></h5>
      <p class="card-text">{{ question.content }}</p>
      <div class="under-question d-flex">
        <a class="answers" href="{% url 'question' question_id=question.id %}">answer(3)</a>
        <div class="under-question-tags d-flex">Tags:
                <p>black-jack</p>
                <p>bender</p>
        </div>
    </div>
</div>
  </div>
</div>